/* .locations-root{
    display: flex;
    justify-content: center;
} */
.locations-container{
    padding-top: 20px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.locations-comp-header{
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;
}



.locations-comp-body{
    height: 50vh;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    /* scrollbar-width: none; */
}
.locations-comp-body::-webkit-scrollbar {
    display: none;
}

.location-list-item{
    padding-top: 8px;
    padding-bottom: 8px;
}